* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.logo img {
  height: 50px; /* Adjust height as needed */
}

nav ul {
  list-style-type: none;
  display: flex;
  background-color: #333;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff; /* Change to desired hover color */
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
section {
  margin-bottom: 30px;
}
/* Style the section titles */
h1,
h2,
h3 {
  color: #333;
}

/* Style the card layout */
.card {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer; /* Add cursor pointer for interactivity */
}

/* Add hover effect to cards */
.card:hover {
  transform: translateY(-10px); /* Adjust hover effect */
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.card img {
  float: left; /* Align the image to the left */
  width: 50%;
  border-radius: 10px;
  margin-right: 20px; /* Add some spacing between the image and the content */
  margin-bottom: 10px;
}

.site-footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-left p {
  margin-bottom: 10px;
}

.footer-right {
  display: flex;
  align-items: center;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: #ddd;
}

.copyright {
  margin-top: 20px;
}

.copyright p {
  font-size: 14px;
  margin: 0;
}
